
.redes {
    padding-left: 5rem;
}

.col-4 {
    i {
        font-size: 30px;
        margin-left: 1rem;
        color: #2ba52e;
    }

    .copy {
        margin-left: 1.5rem;
    }

    .politicas {
        padding-left: 11.5rem;
    }
}